<app-jumbotron
    [covidData]="covidData"
    (showStateDataEvent)="showStateData($event)">
</app-jumbotron>
<div class="container-fluid">

    <!-- Stats Summary and Pie Chart -->
    <app-stats-summary
        *ngIf="covidData"
        [countryData]="covidData"
        [state]="state"
        [district]="district">
    </app-stats-summary>

    <!-- Search -->
    <div class="table-heading-container row">
        <div class="col-sm-12 col-md-6">
            <span class="text-white-50">Select name to view summarized data</span>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-end mb-2">
            <input type="search" class="form-control rounded-pill search-box" [(ngModel)]="searchKey" placeholder="search">
            <br>
        </div>
    </div>

    <!-- table -->
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive-sm table-striped table-light">
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders; let i = index">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{header}}</span>
                                <button class="no-style" (click)="sort(header, sortDirection[i], i)">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="covidData; else tablePlaceholder">
                    <tr *ngFor="let row of tableRows | search: searchKey | slice: (page-1) * pageSize : page * pageSize">
                        <ng-container>
                            <td>
                                <button class="no-style" (click)="showDistrictData(row)">
                                    {{row.name}}
                                </button>
                            </td>
                            <td>{{row.totals.confirmed | shortNumber}}</td>
                            <td>{{row.totals.active | shortNumber}}</td>
                            <td>{{row.totals.recovered | shortNumber}}</td>
                            <td>{{row.totals.deaths | shortNumber}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-end" *ngIf="tableRows.length">
            <ngb-pagination [collectionSize]="tableRows.length" [(page)]="page"></ngb-pagination>
        </div>
    </div>
</div>



<ng-template #tablePlaceholder>
    <tbody class="ph-table">
        <tr *ngFor="let i of [].constructor(7)">
            <td scope="row" *ngFor="let i of [].constructor(5)">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</ng-template>