<app-jumbotron
    [covidData]="covidData"
    (showStateDataEvent)="showStateData($event)">
</app-jumbotron>
<div class="container-fluid">

    <!-- Pie Chart -->
    <div class="row p-3" id="mainView">
        <div class="col-12 mb-3" *ngIf="pieChartData">
            <h3 class="text-white">
                {{state ? state : 'I N D I A'}}
            </h3>
            <div class="card border-0 stats-container">
                <div class="row card-body d-flex">
                    <div class="d-flex numeric-stats col-md-7">
                        <div class="stat active d-flex flex-column border justify-content-around align-items-center">
                            <h5>Active</h5>
                            <h4>{{pieChartData.active | shortNumber}}</h4>
                        </div>
                        <div class="stat recovered d-flex flex-column border justify-content-around align-items-center">
                            <h5>Recovered</h5>
                            <h4>{{pieChartData.recovered | shortNumber}}</h4>
                        </div>
                        <div class="stat deaths d-flex flex-column border justify-content-around align-items-center">
                            <h5>Deaths</h5>
                            <h4>{{pieChartData.deaths | shortNumber}}</h4>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <app-pie-chart [totals]="pieChartData">
                        </app-pie-chart>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>

    <!-- Search -->
    <div class="row d-flex justify-content-end">
        <div class="col-md-4 col-sm-12">
            <input type="search" class="form-control rounded-pill" [(ngModel)]="searchKey" placeholder="search">
            <br>
        </div>
    </div>

    <!-- table -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-light">
                <thead>
                    <tr>
                        <th *ngFor="let header of tableHeaders; let i = index">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{header}}</span>
                                <button class="no-style" (click)="sort(header, sortDirection[i], i)">
                                    <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="sortDirection[i]==='asc'"></i>
                                    <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="sortDirection[i]==='desc'"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="covidData; else tablePlaceholder">
                    <tr *ngFor="let row of tableRows | search: searchKey | slice: (page-1) * pageSize : page * pageSize">
                        <ng-container>
                            <td>
                                <button class="no-style text-primary" (click)="showDistrictData(row)">
                                    {{row.name | shortNumber}}
                                </button>
                            </td>
                            <td>{{row.totals.confirmed | shortNumber}}</td>
                            <td>{{row.totals.active | shortNumber}}</td>
                            <td>{{row.totals.recovered | shortNumber}}</td>
                            <td>{{row.totals.deaths | shortNumber}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-end" *ngIf="tableRows.length">
            <ngb-pagination [collectionSize]="tableRows.length" [(page)]="page"></ngb-pagination>
        </div>
    </div>
</div>



<ng-template #tablePlaceholder>
    <tbody class="ph-table">
        <tr *ngFor="let i of [].constructor(7)">
            <td scope="row" *ngFor="let i of [].constructor(5)">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</ng-template>