<!-- Stats Summary and Pie Chart -->
<app-stats-summary *ngIf="covidData" [countryData]="covidData" [monthWiseCases]="monthWiseCases">
</app-stats-summary>



<!-- table -->
<div class="container-fluid home-table-wrapper">
    <div class="col-12 card shadow mt-3">
        <div class="card-body">
            <app-cases-table
                [tableHeaders]="tableHeaders"
                [tableRows]="tableRows"
                [placeholder]="'search by state'">
            </app-cases-table>
        </div>
    </div>
</div>