<div class="wrapper">
    <div class="sidebar">
        <div class="d-flex header border-bottom">
            <span class="laptop-header">COVID </span>
            <span class="laptop-header">&nbsp;- INDIA</span>
            <span class="mobile-header">C-19</span>
        </div>
        <ul class="nav mt-4">
            <li *ngFor="let item of sidebarMenuItems" class="nav-item" role="button" (click)="routeToPage(item)">
                <a class="nav-link" [class.active]="item.active">
                    <i class="{{item.icon}}" aria-hidden="true"></i>
                    <span>{{item.name}}</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="topnav header p-3 bg-white shadow d-flex">
            <div class="toggle" role="button" (click)="toggleMenu()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>