.stats-container{
    background-image: url('../../assets/images/card-bg4.jpg');
    background-size: cover;
    height: 100%;
    .numeric-stats{
        height: 15rem;
        .stat{
            width: 10rem;
            background-size: cover;
            height: 100%;
            margin-right: 2rem;
            margin-top: 2rem;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
            transition: all 0.5s ease;
        }
        .stat:hover{
            transform: scale(1.1);
        }
        .active{
            background-image: url('../../assets/images/active.jpg');
            color: $white;
        }
        .recovered{
            background-image: url('../../assets/images/recovered.jpg');
            color: $white;
        }
        .deaths{
            background-image: url('../../assets/images/deaths.jpg');
            color: $white;
        }
    }
}