.stats-container{
    background-image: url('../../assets/images/card-bg.jpg');
    background-size: cover;
    .numeric-stats{
        .stat{
            flex: 1 1 0px;
            margin: 2rem;
            background-size: cover;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
            transition: all 0.5s ease;
            text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
            cursor: pointer;
        }
        .stat:hover{
            transform: scale(1.1);
        }
        .active{
            background-image: url('../../assets/images/active1.jpg');
            color: $white;
        }
        .recovered{
            background-image: url('../../assets/images/recovered.jpg');
            color: $white;
        }
        .deaths{
            background-image: url('../../assets/images/deaths.jpg');
            color: $white;
        }
    }
}